
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
 <div style="margin:30px">
	 <h3>Pone tu mail para saber el mail de les integrantes de tu grupo</h3>
	    <form action="" method="post" novalidate>
		<p>
		    tu email<br>
		    <input style='width: 250px' type='text' name='email'></input><br>
		</p>
		<p>
			<input type='submit'/> <br>
		</p>
		<p>
		{% if failed %}
			No encontre tu mail, si te habias registrado escribime 
		{% endif %}

		{% if group %}
			<p> Tu grupo es </p>
			<table class='table'>
				<tr>
					<th> mail </th> <th> coding skills </th> <th> machine learning skills </th>
				</tr>

				{% for person in group %}
					<tr>
						<td> {{ person['Username'] }} </td> 
						<td> {{ person['coding_skills'] }} </td> 
						<td> {{ person['ml_skills'] }} </td>
					</tr>
				{% endfor %}
			</table>

			<p> <strong> Sugerencias para próximos pasos </strong> </p>
			<ul>
				<li> Escribile al resto de los miembros de ti equipo, validá que vayan a trabajar </li>
				<li> Aprovechá el <a target='_blank' href="https://discord.com/invite/6kUAfRvZ">discord</a> de la materia para discutir con otres</li>
				<li> Creá un canal en discord para comunicarte con tu grupo :) <img style='height:100px' src="/static/discord.png"/> </li>
				<li> Empezá a avanzar con la <a target='_blank' href="https://docs.google.com/document/d/1yRVXOkeHtcVMOUy6BVj1dSnTtqpP-KIiRPAcNpnDFKw/edit?usp=sharing">guía 1</a>
					y con la <a target='_blank' href="https://docs.google.com/document/d/1ylzwPfqVkdAFyx3BN8C_EcjdUn3WWzUvO0_1clHKW68/edit?usp=sharing">guía 2</a> </li>
			</ul>
		{% endif %}
		</p>
	    </form>
 </div>
</body>
